html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --second-text-color: #ffffff;
  --body-color: #ffffff;
  --second-body-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --adress-footer-color: rgba(255, 255, 255, 0.6);
  --second-footer-color: rgba(255, 255, 255, 0.4);
}
body {
  background-color: var(--second-text-color);
  color: var(--title-text-color);
  font-family: Roboto;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.19;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
/* header container */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.page-header {
  border-bottom: 1px solid #ececec;
}
.logo {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.accent-logo {
  color: var(--accent-color);
}
/* site-nav */
.site-nav {
  display: flex;
  margin-left: 85px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
/* contcts nav */

.contacts-nav {
  display: flex;
  margin-left: auto;
}
.contacts-logo {
  margin-right: 10px;
}
.contacts {
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts-nav-li {
  display: inline-flex;
}
.contacts-nav > .mail::before {
  display: block;
  content: "";
  background-image: url(../img/envelope.svg);
  height: 15px;
  width: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 34px;
  margin-bottom: auto;
  margin-right: 10px;
}
.contacts-nav .contacts-nav-li + .contacts-nav-li {
  margin-left: 30px;
}
.contacts-nav > .tel::before {
  display: block;
  content: "";
  background-image: url(../img/smartphone.svg);
  height: 15px;
  width: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 32px;
  margin-bottom: auto;
  margin-right: 10px;
}
.contacts-nav .contacts {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
}
.contacts-nav .contacts:hover,
.contacts-nav .contacts:focus {
  color: var(--accent-color);
}
/* main container */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.button {
  margin-bottom: 34px;
  display: flex;
  justify-content: center;
}
.button .item:not(:last-child) {
  margin-right: 8px;
}
.button .link {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--primary-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  letter-spacing: 0.03em;
}
.button .link:hover,
.button .link:focus {
  color: var(--second-text-color);
  background-color: var(--accent-color);
}
/* works */
.main .works {
  padding-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: -15px;
}
.main .example {
  /* width: calc((100%-60px) / 3); */
  width: 370px;
  text-align: initial;
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin: 15px;
}
.works-title {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.works-text {
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/*footer */

.footer {
  background-color: var(--footer-background-color);
  margin-left: auto;
  margin-right: auto;
}
.footer-nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}
.footer-nav .adreess {
  text-align: inherit;
  display: flex;
  flex-direction: column;
}
.adress-main {
  display: flex;
  margin-bottom: 9px;
  color: var(--body-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.adress-info {
  display: flex;
  margin-bottom: 9px;
  color: var(--adress-footer-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}
.footer-down {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 18px;
  padding-bottom: 21px;

  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--second-footer-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}
.footer-logo {
  display: flex;
  margin-bottom: 9px;
  color: var(--second-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: none;
}
.second-logo {
  color: var(--body-color);
}
.footer-connect-main {
  display: flex;
  flex-direction: column;
}
.footer-connect {
  margin-bottom: 20px;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: var(--body-color);
}
.footer-links {
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin-right: 20px;
}
.footer-links .link {
  margin-right: 20px;
}
.footer-links .link:nth-child(4) {
  margin-right: 0;
}
.footer-join {
  display: flex;
  flex-direction: column;
}
.footer-news {
  margin-bottom: 21px;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: var(--body-color);
}
.button-primary {
  display: inline-block;
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px 10px 32px;

  color: var(--second-text-color);
  background-color: var(--accent-color);
  font-weight: 900;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  text-align: center;
}
